<ion-view view-title="QN Buddy">
    <ion-content>
        <div class="padding">
            <button ion-button icon-left ng-click="TabOpen(0,'PRESENTATION')">
                <ion-icon name="home"></ion-icon>
                slide1
            </button>
            <button ion-button icon-left ng-click="TabOpen(1,'PRESENTATION')">
                <ion-icon name="home"></ion-icon>
                slide2
            </button>
            <button ion-button icon-left ng-click="TabOpen(2,'PRESENTATION')">
                <ion-icon name="home"></ion-icon>
                slide3
            </button>
            <button ion-button icon-left ng-click="TabOpen(3,'PRESENTATION')">
                <ion-icon name="home"></ion-icon>
                slide4
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen('Active', 'DEMO');">
                Activate All Screens
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(0,'TABCHANGE');">
                Engg
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(1,'TABCHANGE');">
                Sales
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(2,'TABCHANGE');">
                Consultant
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(3,'TABCHANGE');">
                Hr
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(4,'TABCHANGE');">
                Others
            </button>
            <input type="text" ng-model='message'>
            <button class="button button-block button-positive" ng-click="TabOpen('Chat','CHATMESSAGE',message);">
                Send Chat Message
            </button>
            <button class="button button-block button-positive" ng-click="videoState = !videoState; TabOpen(videoState,'VIDEOCTRL');">
                Play Video
            </button>
             <button class="button button-block button-positive" ng-click="TabOpen(videocall,'VIDEOCALL');">
                Video Call
            </button>
        </div>
    </ion-content>
</ion-view>
