<ion-view view-title="QN Buddy">
    <ion-content>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="TabOpen('Active', '');">
                Activate All Screens
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(0,'TABCHANGE');">
                Engg
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(1,'TABCHANGE');">
                Sales
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(2,'TABCHANGE');">
                Consultant
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(3,'TABCHANGE');">
                Hr
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen(4,'TABCHANGE');">
                Others
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen('Chat','VOICEIMAGE');">
               Image
            </button>
            <button class="button button-block button-positive" ng-click="TabOpen('Chat','CHATMESSAGE');">
                Send Chat Message
            </button>
             <button class="button button-block button-positive" ng-click="videoState = !videoState; TabOpen(videoState,'VIDEOCTRL');">
                Play Video
            </button>
        </div>
    </ion-content>
</ion-view>
